<% @contacts.each do |contact| %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 largeCard">
      <i class="glyphicon glyphicon-user userIcon"></i>
      <p><%= contact.name %></p>
      <p><%= contact.company %></p>
      <p><%= contact.email %></p>
      <p><%= contact.phone %></p>
      <p><%= contact.address %></p>
    </div>
  </div>
<% end %>
